.header {
    margin: 0 auto;
    padding-top: 30px;
}

.anchor {
    display: flex;
    flex-direction: column;
}

.text {
    text-transform: uppercase;
    text-align: center;
    margin: auto;
}

.text:hover {
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid #5368E0;
    color: #5368E0;
}

@media screen and (max-width: 550px) {
    .text {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}