.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 30px;
}

.anchors {
    display: flex;
    align-items: center;
}

.anchor {
    margin: 0 20px;
    text-transform: uppercase;
}

.anchor:hover {
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid #5368E0;
    color: #5368E0;
}
