@import url('https://fonts.googleapis.com/css?family=Muli');

body {
    font-family: Muli, serif;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #21232E;
}

.selected {
    padding-bottom: 3px;
    border-bottom: 1px solid #5368E0;
    color: #5368E0;
}