@import url('https://fonts.googleapis.com/css?family=Muli');

body, a, h1, h2, h4 {
    font-family: Muli, serif;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #21232E;
    text-decoration: none;
}

.link-selected {
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid #5368E0;
    color: #5368E0;
}

section {
    margin-top: 100px;
    margin-bottom: 100px;
}

h1, h2 {
    font-weight: bold;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h4 {
    font-size: 15px;
    text-transform: uppercase;
}

h5 {
    font-size: 15px;
    text-transform: uppercase;
    color: #5368E0;
    margin-bottom: 20px;
    letter-spacing: 0.1em !important;
}

.unordered-list {
    list-style-image: url('../resources/right-arrow.svg');
    list-style-position: outside;
    padding-left: 25px;
}

li:not(.slide) {
    padding: 5px;
}

.carousel .slide {
    background: none !important;
}

.carousel .control-arrow {
    height: auto !important;
    opacity: 1 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.carousel .control-next.control-arrow:before {
    border-left: 8px solid #5368E0 !important;
}

.carousel .control-prev.control-arrow:before {
    border-right: 8px solid #5368E0 !important;
}

.carousel .control-dots .dot {
    background: #5368E0 !important;
}

.sr-read {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

@media screen and (max-width: 550px) {
    html, body {
        overflow-x: hidden;
    }
    body {
        position: relative;
    }
}