.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 97%;
    float: left;
    background: rgba(33, 35, 46, 0.8);
    text-align: center;
    color: #FFF;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .243s cubic-bezier(.39,.575,.565,1);
    border-radius: 5px;
}

.container:hover .information {
    opacity: 1;
    transition: opacity 1.95s cubic-bezier(.18,1,.21,1);
}

.name {
    font-weight: bold;
    padding-bottom: 5px;
}

.subtitle {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}