.detailsText {
    font-size: 20px;
    margin-top: 30px;
}

.detailsText a {
    font-size: 20px;
    line-height: 28px;
    color: #5368E0;
}

.detailsText a:hover {
    cursor: pointer;
    color: #5368E0;
    border-bottom: 1px solid #5368E0;
}

.detailsImage {
    margin-top: 50px;
    width: 100%;
}