.projectType {
  margin: 20px 0;
}

.text {
  text-transform: uppercase;
  text-align: center;
  margin: 20px auto;
  cursor: pointer;
}

.text:hover {
  text-decoration: none;
  border-bottom: 1px solid #5368E0;
  color: #5368E0;
}

@media screen and (max-width: 550px) {
  .projectType {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
  }
}
