.projectType {
  text-transform: uppercase;
  margin: 20px 0;
  cursor: pointer;
  width: auto;
  float: left;
}

.projectType:hover {
  top: -5px;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #5368E0;
  color: #5368E0;
}
